.smallerCol {
  background-color: var(--gray);
  height: 289px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
.biggerCol {
  margin: 0rem 1rem;
  margin-top: 1rem;
  position: relative;
  background-color: var(--gray);
  height: 289px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  color: var(--orange);
}
