.stack {
  width: 50%;
  @media (max-width: 1024px) {
    width: 80%;
  }
}
.bg {
  background: linear-gradient(
    178.19deg,
    rgba(8, 8, 15, 0.35) 35.28%,
    rgba(246, 124, 49, 0.35) 159.62%
  );
}
