.cardStackOuter {
  position: relative;
  width: 100%;
}

.cardStack {
  position: relative;
  width: 100%;
  height: 250vh;
  overflow: visible;
  @media (max-width: 768px) {
    height: 300vh;
  }
}
.cardWrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    height: 100vh;
  }
}
.cardsContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  position: absolute;
  margin-top: 10rem;
  width: 100%;
  height: 480px;
  background-color: var(--gray);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  color: var(--white);
  border-top: 1px solid #f67c31;
  padding: 5rem;
  @media (max-width: 1024px) {
    padding: 1rem;
  }
  @media (max-width: 768px) {
    height: 720px;
    margin-top: 0rem;
  }
  @media (max-width: 480px) {
    height: 850px;
  }
}

.hidden {
  opacity: 0;
  animation: slideDown 0.5s forwards;
}

.visible {
  opacity: 1;
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.imageBox {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 25px;
  overflow: hidden;
  @media (max-width: 1024px) {
    width: 300px;
    height: 300px;
  }
  @media (max-width: 768px) {
    order: 2;

    width: 100%;
    height: 250px;
  }
}
.img {
  object-fit: cover;
}
.textBox {
  flex: 1;
  @media (max-width: 768px) {
    order: 1;
  }
}
.group {
  align-items: center;
  gap: 8rem;
  @media (max-width: 1024px) {
    gap: 1rem;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
