h1 {
  font-family: var(--font-murecho);
  font-size: 78.3px; /* 10% smaller than 87px */
  font-weight: 700;
  line-height: 112.5%; /* 10% smaller than 125% */
  @media (max-width: 1024px) {
    font-size: 54px; /* 10% smaller than 60px */
  }
  @media (max-width: 768px) {
    font-size: 36px; /* 10% smaller than 40px */
  }
}

h2 {
  font-family: var(--font-murecho);
  font-size: 36px; /* 10% smaller than 40px */
  font-weight: 600;
  line-height: 108%; /* 10% smaller than 120% */
  @media (max-width: 1024px) {
    font-size: 27px; /* 10% smaller than 30px */
  }
  @media (max-width: 768px) {
    font-size: 22.5px; /* 10% smaller than 25px */
  }
}

h3 {
  font-family: var(--font-murecho);
  font-size: 28.8px; /* 10% smaller than 32px */
  font-weight: 600;
  line-height: 108%; /* 10% smaller than 120% */
  @media (max-width: 1024px) {
    font-size: 22.5px; /* 10% smaller than 25px */
  }
  @media (max-width: 768px) {
    font-size: 18px; /* 10% smaller than 20px */
  }
}

h4 {
  font-family: var(--font-murecho);
  font-size: 22.5px; /* 10% smaller than 25px */
  font-weight: 500;
  line-height: 108%; /* 10% smaller than 120% */
  @media (max-width: 1024px) {
    font-size: 18px; /* 10% smaller than 20px */
  }
  @media (max-width: 768px) {
    font-size: 16.2px; /* 10% smaller than 18px */
  }
}

h5 {
  font-family: var(--font-murecho);
  font-size: 18px; /* 10% smaller than 20px */
  font-weight: 500;
  line-height: 108%; /* 10% smaller than 120% */
  @media (max-width: 1024px) {
    font-size: 16.2px; /* 10% smaller than 18px */
  }
}

h6 {
  font-family: var(--font-murecho);
  font-size: 18px; /* 10% smaller than 20px */
  font-weight: 600;
  line-height: 108%; /* 10% smaller than 120% */
  @media (max-width: 1024px) {
    font-size: 14.4px; /* 10% smaller than 16px */
  }
}

.body-text {
  font-family: var(--font-openSans);
  font-size: 16.2px !important; /* 10% smaller than 18px */
  font-weight: 400 !important;
  line-height: 126% !important; /* 10% smaller than 140% */
  @media (max-width: 1024px) {
    font-size: 14.4px !important; /* 10% smaller than 16px */
  }
}

.details-text {
  font-family: var(--font-openSans);
  font-size: 14.4px !important; /* 10% smaller than 16px */
  font-weight: 400 !important;
  line-height: 126% !important; /* 10% smaller than 140% */
  @media (max-width: 1024px) {
    font-size: 12.6px !important; /* 10% smaller than 14px */
  }
}
