h1 {
  font-family: var(--font-murecho);
  font-size: 87px;
  font-weight: 700;
  line-height: 125%;
  @media (max-width: 768px) {
    font-size: 60px;
  }
  @media (max-width: 375px) {
    font-size: 40px;
  }
}

h2 {
  font-family: var(--font-murecho);
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 375px) {
    font-size: 25px;
  }
}

h3 {
  font-family: var(--font-murecho);
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 25px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

h4 {
  font-family: var(--font-murecho);
  font-size: 25px;
  font-weight: 500;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 375px) {
    font-size: 18px;
  }
}

h5 {
  font-family: var(--font-murecho);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

h6 {
  font-family: var(--font-murecho);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.body-text {
  font-family: var(--font-openSans);
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}
.details-text {
  font-family: var(--font-openSans);
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
  @media (max-width: 768px) {
    font-size: 14px !important;
  }
}
