.backButton {
  display: flex;
  cursor: pointer;
  width: 20px;
}

.firstText {
  text-align: center;
  width: 50%;
  @media (max-width: 1024px) {
    width: 70%;
  }
}

.empty {
  display: flex;
  width: 20px;
}
