.outerBox {
  display: flex;
  width: 100%;
}
.cardGroup {
  gap: 20px;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card {
  transition: all 0.3s ease;
  border-radius: 25px;
  background-color: var(--gray);
  cursor: pointer;
  height: 700px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.openCard {
  justify-content: space-between;
  align-items: start;
  padding: 35px;
  width: 485px;
  @media (max-width: 510px) {
    width: 350px;
  }
}

.closedCard {
  align-items: center;
  width: 105px;
  padding-top: 35px;
}

.roundedNumber {
  background-color: var(--white);
  opacity: 0.8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.openRoundedNumber {
  background: var(--orange-linear);
  background-color: none;
  color: var(--white);
  opacity: 1;
}

.closedInnerGroup {
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: 100%;
  gap: 18rem;
  transition: gap 0.4s ease;
}
.innerGroup {
  gap: 1rem;
  transition: gap 0.3s ease;
}

.closedTitle {
  transform: rotate(-90deg);
  white-space: nowrap;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.openTitle {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.title {
  color: var(--white);
}
.cardContent {
  color: var(--white);
}
.imageBox {
  position: relative;
  width: 100%;
  height: 245px;
  overflow: hidden;
  border-radius: 14px;
}

.scrollContainer {
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.progressBar {
  width: 185px;
  height: 8px;
  background: var(--gray);
  border-radius: 100px;
  overflow: hidden;
  @media (min-width: 1024px) {
    display: none;
  }
}

.progress {
  height: 100%;
  min-width: 10%;
  background: var(--orange-linear);
  width: 0%;
  transition: width 0.2s ease-out;
  border-radius: 100px;
}
