.serviceCard {
  width: 65%;
  height: 350px;
  border-radius: 25px;
  padding: 30px;
  background: linear-gradient(
      179.91deg,
      rgba(246, 124, 49, 0) 34.84%,
      rgba(246, 124, 49, 0.43) 99.92%
    ),
    url("/images/services-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  @media (max-width: 1024px) {
    width: 100%;
  }
}
.servicesStack {
  align-items: center;
  background-color: var(--background);
  overflow-y: hidden;
}
.categories {
  background-color: var(--background);
  border-radius: 16px;
  width: 260px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}
.categoryStack {
  @media (max-width: 768px) {
    display: none;
  }
}
.buttonBox {
  width: 300px;
  @media (max-width: 768px) {
    width: 250px;
  }
}

.serviceWrap {
  animation: slideInLeft 0.8s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.serviceWrap:nth-child(even) {
  animation: slideInRight 0.8s ease-out forwards;
}

/* Slide in from left */
@keyframes slideInLeft {
  from {
    transform: translateX(-900px);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide in from right */
@keyframes slideInRight {
  from {
    transform: translateX(900px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
